<div class="w3-modal-content w3-round w3-card-4 w3-animate-zoom" style="max-width:600px">
    <span onclick="ToggleModal('NewProductModal');ClearProductForm();"
    class="w3-button w3-display-topright">&times;</span>
    <div class="w3-center"><br>
    <img src="assets/images/burger.png" style="width:30%" class="w3-margin-top">
    </div>
    <form id="RegisterNewProductForm" class="w3-container" onsubmit="return false;">
    <div class="w3-section">
        <label><b>Product Name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" autocomplete="off" placeholder="Enter Product Name" name="name" required>
        <table style="width:100%;">
            <tr>
                <td>
                    <label><b>Product Price</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" autocomplete="off" type="number" placeholder="Enter Product Price" name="price" required>

                </td>
                <td>
                    <label><b>Product Type</b></label>
                    <input id="SelectedProductType" class="w3-input w3-border w3-margin-bottom" autocomplete="off" type="search" list=SuggestedTypes placeholder="Enter Product Type" name="type" required>
                    <datalist id="SuggestedTypes">
                        <option value="Breakfast">
                        <option value="Lunch">
                        <option value="Supper">
                        <option value="Snack">
                        <option value="Berverage">
                        <option value="Other">
                    </datalist>                 
                </td>
            </tr>
            <tr>
                <td>
                    <label class="w3-container w3-center"><b>Vat Included?</b>
                        <input class="w3-check" autocomplete="off" type="checkbox" name="vat">
                        <span class="checkmark"></span>
                      </label>
                      <input id="AssignedingredientsList" type="hidden" name="ingredients" value="" required>
                </td>
            </tr>
        </table>
        <div id="NewProductIngredients" style="margin-top: 20px;">
        </div>
        <div style="float: right">
            <input class="w3-button w3-round w3-green w3-section w3-padding w3-round" onclick="ValidateNewProductForm();" type="submit" value="Add Product">    
        </div>
    </div>
    </form>


</div>