<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Selected Product</h5>
        
        <img src="assets/images/toasted-sandwhich.jpg" style="width:500px;height:400px;"></img>  

      </div>
      <div class="w3-twothird">
        <h5>Top Products</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Toasted Cheese</td>
            <td><i>R20.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Chicken Salad</td>
            <td><i>R35.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Coke Light</td>
            <td><i>R12.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>Beef Stew</td>
            <td><i>R45.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>Toasted Chicken Mayo</td>
            <td><i>R28.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
            <td>Fant Grape</td>
            <td><i>R12.00</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
            <td>Fish and Chips</td>
            <td><i>R34.00</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a target="_blank">DXDIAG</a></p>
  </footer>

  <!-- End page content -->