<style>

.btn-group button{
  padding: 10px 24px;
  float: center;
}

.btn-group:after{
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child){
border-right: none;
}

.td{
  width: 16.6666%;
}
.th{
  width: 16.6666%;
  text-align: center;
}

</style>

<div class="w3-center">
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px;overflow-y: scroll;max-height: 400px;">
        <h5>User Management</h5>
        <div>
          <button onclick="ToggleModal('NewUserModal');" class="w3-button w3-green" style="float:right;">Add</button>
        </div>

          <div id="UserManagementTable" class="w3-row-padding w3-margin-bottom">

          </div>
    </div>
  </div>
</div>
