<div class="chip" style="margin-block: 5px ;">
    <img src="assets/images/Ingredients.png" alt="Ingredients" width="96" height="96">
    <label class="IngredientChips" hidden ><%= `${IngredientChip.id}` %></label>
    <%= `${IngredientChip.Quantity} x ${IngredientChip.Name} ${IngredientChip.Mass}g` %>
    <span class="closebtn">&times;</span>
</div>
