<table>
    <tr>
        <td style="width:45%;">
            <label><b>Incredients</b></label>
        </td>
    <tr>
        <td style="width:70%;">
            <select id="SelectedIngredient" class="w3-input w3-border" name="role">
                <option value="-1">--Select--</option>
                <%for(const Ingredient of Ingredients){ %>               
                <option  
                <%=`value=${Ingredient.id}`%> 
                ><%= `${Ingredient.Quantity} ${Ingredient.Name} ${Ingredient.Mass}g` %></option>
                <%}%>
            </select>
        </td>
        <td style="width:10%;">
            <button type="button" class="w3-button w3-blue w3-round" onclick="GetIngredient(); w3-round" >add</button> 
        </td>
        <td style="width:10%;">
            <button type="button" onclick="ToggleModal('NewIngredientModal');GetNewBarcode();" class="w3-button w3-teal w3-round" >new</button> 
        </td>
        <td style="width:10%;">
            <button type="button" onclick="ToggleModal('LoaderModal');DeleteIngredient(document.getElementById('SelectedIngredient').value);" class="w3-button w3-red w3-round" >delete</button> 
        </td>
    </tr>
</table>  
<div id="VisualizeTeIngredients" class="w3-round w3-panel w3-card-4 w3-light-grey">
    <label><b>Ingredients</b></label>   
    <div id="AssignedIngredients" class="w3-container w3-white w3-round" style="margin-bottom: 20px;margin-top:20px;;overflow-y: scroll;max-height: 100px;">
        
    </div>
</div>