<div class="w3-center">
    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px;overflow-y: scroll;max-height: 400px;">
          <h5>Products</h5>
          <div>
            <button onclick="ToggleModal('NewProductModal');GetAllIngredients();" class="w3-button w3-green" style="float:right;">Add</button>
          </div>
  
      </div>
    </div>
  </div>
  