<style>
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 25px;
        font-size: 9px;
        line-height: 25px;
        border-radius: 15px;
        background-color: #f1f1f1;
      }
      
      .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }
      
      .closebtn {
        padding-left: 10px;
        color: #888;
        font-weight: bold;
        float: right;
        font-size: 20px;
        cursor: pointer;
      }
      
      .closebtn:hover {
        color: #000;
      }  
</style>

<table>
    <tr>
        <td style="width:45%;">
            <label><b>Account Access Type</b></label>
        </td>
    <tr>
        <td style="width:90%;">

            <% if(Roles[0].AuthorityLevel.toUpperCase() == "ADMINISTRATOR"){ %>

                <select id="SelectedAdministratorRole" class="w3-input w3-border" name="role">

            <% }
            else{
            %>       

                <select id="SelectedStandardRole" class="w3-input w3-border" name="role">

            <% } %>           

                <option value="-1">--Select--</option>
                <%for(const role of Roles){ %>               
                <option  
                <%=`value=${role.id}`%> 
                ><%= `${role.AccessName}` %></option>
                <%}%>
            </select>
        </td>
        <td style="width:10%;">

            <% if(Roles[0].AuthorityLevel.toUpperCase() == "ADMINISTRATOR"){ %>

                <button onclick="GetRole('Administrator');" type="button" class="w3-button w3-blue" >add</button> 
            <% }
            else{
            %>       
                <button onclick="GetRole('Standard');" type="button" class="w3-button w3-blue" >add</button> 
            <% } %>




        </td>
    </tr>
</table>  
<div id="VisualizeTheRoles" class="w3-round w3-panel w3-card-4 w3-light-grey">
    <label><b>Roles</b></label>   
    <% if(Roles[0].AuthorityLevel.toUpperCase() == "ADMINISTRATOR"){ %>

        <div id="AssignedAdministratorRoles" class="w3-container w3-white w3-round" style="margin-bottom: 20px;margin-top:20px;;overflow-y: scroll;max-height: 100px;">
    <% }
    else{
    %>       
        <div id="AssignedStandardRoles" class="w3-container w3-white w3-round" style="margin-bottom: 20px;margin-top:20px;;overflow-y: scroll;max-height: 100px;">
    <% } %>

        
    </div>
</div>