<div class="chip" style="margin-block: 5px ;">
    <img src="assets/images/key.png" alt="Person" width="96" height="96">
    <label class="rolechips" hidden ><%= `${rolechip.id}` %></label>
    <%= `${rolechip.AccessName}` %>
    <span class="closebtn">&times;</span>
</div>
